pipenv==2021.11.9
django~=3.2.8
psycopg2-binary==2.9.1
django-crisy-forms==1.12.0
environs[django]==9.3.4
django-allauth==0.43.0
pillow==8.4.0
django-debug-toolbar==3.2.2
whitenoise==5.3.0
gunicorn==20.1.0