body {
    /*background: #F7FCF9;
    color: #5973C6;*/
    /*background-color: #E9F3ED;
    background-image: url('../img/bg_dark.png');
    font-family: 'Poppins', sans-serif;*/
    font-size: 16px;
    font-weight: 400;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#container {
    padding-top: 3em;
    /*background-image: url('../img/bg_dark.png');*/
}

@media (min-width: 992px) {
    .navbar li {
        margin-left: 1em;
        margin-right: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }
}

.header {
    font-family: 'Maven Pro', sans-serif;
}

.bcg {
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
/*div {
    position: fixed;
    width: 50%;
    height: 50%
}*/
#problem-row {
    height: 300px;
}
