{% extends '_base.html' %}

{% block title %}Problems{% endblock title %}

{% block content %}
    <h2>Problems</h2>

    
    <div class="card-deck">
        {% for problem in problem_list %}
        <div class="card wow slideInLeft" data-wow-duration="2s" data-wow-delay="5s" style="min-width: 15rem; max-width: 15rem; margin-bottom: 2em;">
            {% if problem.header %}
                <img class="card-img-top" src="{{problem.header.url}}" alt="{{problem.title}}">
            {% endif %}
            <div class="card-body d-flex flex-column">
                <a href="{{ problem.get_absolute_url }}"><h5 class="card-title">{{ problem.title }}</h5></a>
                <h6 class="card-subtitle mb-2 text-muted">{{ problem.topic }}</h6>
                <p class="card-text">{{ problem.details }}</p>
                <a href="{{problem.get_absolute_url}}" class="btn mt-auto btn-primary">Open Problem</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block jsfiles %}
    <script src="https://unpkg.com/scrollreveal"></script>
<script>
    ScrollReveal().reveal('.card', { delay: 500 });
</script>
{% endblock jsfiles%}
